<beans>
    <bean id = "rateLimiter" clazz = "com.shawn.touchstone.di.beans.RateLimiter">
        <constructor-arg ref = "redisCounter" />
    </bean>
    <bean id = "redisCounter" clazz = "com.shawn.touchstone.di.beans.RedisCounter">
        <constructor-arg type="java.lang.String" value = "127.0.0.1" />
        <constructor-arg type="java.lang.Integer" value="123" />
    </bean>
</beans>